<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TVP Market Orders</title>

    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Add a New Order</h1>
        <form class="form-horizontal" id="addForm">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="Email" name="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="tags" class="col-sm-2 control-label">Customer Tags</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tags" placeholder="Tags (separated by comma)" name="tags" required>
            </div>
          </div> 
          <div class="form-group">
            <label for="lineItem1" class="col-sm-2 control-label">Line Item 1</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lineItem1" placeholder="Line Item 1" name="line Item 1" required>
            </div>
          </div>
           <div class="form-group">
            <label for="lineItem2" class="col-sm-2 control-label">Line Item 2</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lineItem2" placeholder="Line Item 2" name="line Item 2" >
            </div>
          </div>
           <div class="form-group">
            <label for="lineItem3" class="col-sm-2 control-label">Line Item 3</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lineItem3" placeholder="Line Item 3" name="line Item 3">
            </div>
          </div>
           <div class="form-group">
            <label for="lineItem4" class="col-sm-2 control-label">Line Item 4</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="lineItem4" placeholder="Line Item 4" name="line Item 4">
            </div>
          </div>
          <div class="form-group">
            <label for="totalCost" class="col-sm-2 control-label">Total Cost</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="totalCost" placeholder="Total Cost" name="totalCost" required>
            </div>
          </div>
          <div class="form-group">
            <label for="orderNumber" class="col-sm-2 control-label">Order Number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="orderNumber" placeholder="Order Number" name="orderNumber" required>
            </div>
          </div>
         <!--  <div class="form-group">
            <label for="url" class="col-sm-2 control-label">ImgURL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="url" placeholder="PhotoURL" name="url" required>
            </div>
          </div> -->
          <div class="form-group">
            <label for="location" class="col-sm-2 control-label">Location</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="location" placeholder="Location" name="location" required>
            </div>
          </div>                                                
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="button" id="submit-button" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>        
        
      </div>
      <div class="col-md-8" id="order-holder">
        
      </div>
    </div>
  </div>
  <div id="map-canvas"></div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit an Order</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="editForm">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-name" placeholder="Name" name="name" required>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-email" placeholder="Email" name="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="customerTags" class="col-sm-2 control-label">Customer Tags</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-tags" placeholder="customerTags" name="tags" required>
              </div>
            </div> 
            <div class="form-group">
              <label for="lineItem1" class="col-sm-2 control-label">LineItem 1</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-lineItem1" placeholder="lineItem1" name="lineItem1" required>
              </div>
            </div>
            <div class="form-group">
              <label for="lineItem2" class="col-sm-2 control-label">LineItem 2</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-lineItem2" placeholder="lineItem2" name="lineItem2">
              </div>
            </div>
            <div class="form-group">
              <label for="lineItem3" class="col-sm-2 control-label">LineItem 3</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-lineItem3" placeholder="lineItem3" name="lineItem3">
              </div>
            </div>
            <div class="form-group">
              <label for="lineItem4" class="col-sm-2 control-label">LineItem 4</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-lineItem4" placeholder="lineItem4" name="lineItem4">
              </div>
            </div>
            <div class="form-group">
            <label for="orderNumber" class="col-sm-2 control-label">Order Number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="edit-orderNumber" placeholder="orderNumber" name="orderNumber" required>
            </div>
          </div>
            <div class="form-group">
              <label for="totalCost" class="col-sm-2 control-label">Total Cost</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-TotalCost" placeholder="totalCost" name="totalClost" required>
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="url" class="col-sm-2 control-label">ImgURL</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-url" placeholder="PhotoURL" name="url" required>
              </div>
            </div> -->
            <div class="form-group">
              <label for="location" class="col-sm-2 control-label">Location</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-location" placeholder="Location" name="location" required>
              </div>
            </div>
           <!--  <div class="form-group">
              <label for="orderID" class="col-sm-2 control-label">Order ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="edit-id" placeholder="id" name="edit-id" required>
              </div>
            </div>  -->                                                           
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>     
        </div>
      </div>
    </div>
  </div>

  </body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAcN6VtdpM55-CGGyEAWX2qEWs_Qwg4wXM"></script>    

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- JQuery validate -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

    <script type="text/javascript">
      $("form").validate({
          rules: {
            editTotalCost: {
              required: true,
              number: true // must be a number
            },
            totalCost: {
              required: true,
              number: true // must be a number
            }
          }
      }); 
    </script>    

    <!-- CUSTOM JS -->
    <script src="js/main.js"></script>
</html>