/**************/
/* Custom CSS */
/**************/

body{
	background-color: #353839;
	color: ##79B4C6;
}

h1 {
	color: #89CBDF;
}

#selectVendor {
	padding: 10px;
	height: 30px;
	border-radius: 0px;
	background-color: ##3B5760;
	color: #fff;
	margin-bottom: 20px;

}

.buttondlt {
	background-color: #FF4524;
	color: #eee;
	border: none;
	border-radius: 2px;
	padding-left: 5px;
	margin-left: 15px;
}

.buttonedt {
	background-color: #008E8F;
	color: #eee;
	border: none;
	border-radius: 2px;
	padding-left: 5px;
	margin-left: 5px;
}

.buttonslct {
	background-color: #008E8F;
	width: 150px;
	color: #eee;
	border: none;
	border-radius: 2px;
	padding-left: 0px;
	margin-bottom: 20px;
	text-align: center;
	left: 50%;

}

.order {
	min-height: 300px;
}



#order-holder{
	margin-top: 75px;
}

/* IMPORTANT - must give map div height */
#map-canvas { 
	height:500px; 
	
}

/* IMPORTANT - fixes webkit infoWindow rendering */
#map-canvas img { max-width: none; }